<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col">
                <users-table v-if="userList" v-bind:userslist="userList" v-on:user-selected="onUserSelected"></users-table>
                <div v-else><h1>Loading...</h1><img src="loader.gif"></div>
            </div>
            <div class="col">
                <user-form v-if="currentUser" v-bind:user="currentUser" v-on:user-saved="onUserSaved"></user-form>
                <div v-else><h1>{{uFormMessage}}</h1><img v-if="isUserLoading" src="loader.gif"></div>
            </div>
        </div>
    </div>

    <div id="usersTable" style="display:none">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                    <tr v-for="(user, index) in userslist" v-on:click="selectRow(index, user.id)" v-bind:class="{ 'bg-primary': index==selected }" >
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td><nobr>{{user.phone}}</nobr></td>
                    </tr>
            </tbody>
        </table>
    </div>

    <div id="userForm" style="display:none">
        <div class="container">
            <div class="form-group">
                <label for="first-formid">Firstname</label>
                <input type="text" class="form-control" id="first-formid" v-model:value="user.firstName">
                <label for="last-formid">Lastname</label>
                <input type="text" class="form-control" id="last-formid" v-model:value="user.lastName">
                <label for="email-formid">email</label>
                <input type="email" class="form-control" id="email-formid" v-model:value="user.email">
                <label for="phone-formid">Phone</label>
                <input type="text" class="form-control" id="phone-formid" v-model:value="user.phone">
                <button type="button" class="btn btn-primary" v-on:click="saveUser">Save</button>
            </div>
        </div>
    </div>

    <!-- Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Bootstrap-->
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
    var usersTable = {
        props:{
            userslist: {
                type: Array,
                required: true
            }
        },
        data:function(){
            return {
                selected:null,
            };
        },
        template: '#usersTable',
        methods:{
            selectRow: function(index,uid){                
                this.selected=index;
                this.$emit('user-selected', uid);
            }
        }
    };

    var userForm = {
        props:{
            user: {
                type:Object,
                required: true
            }
        },
        data: function(){
            return {};
        },
        template: '#userForm',
        methods: {
            saveUser: function(){
                this.$emit('user-saved', this.user);
            }
        }
    };

    var app = new Vue({
        el: '#app',
        components:{
            'users-table': usersTable,
            'user-form': userForm,
        },
        data: {
            userList: null,
            currentUser: null,
            uFormMessage: 'User not selected',
            isUserLoading: false,
            apiURL: 'http://localhost:3000',
            sleep: 0, //задержка для иммитации длительной загрузки данных
        },
        watch: {
            userList: function(){
                console.log('Users loaded');
            },
        },
        methods:{
            onUserSelected: function(uid){
                console.log('loaging suer: '+uid);
                this.uFormMessage='Loading...';
                this.isUserLoading=true;
                this.currentUser=null;
                axios
                    .get(this.apiURL+'/users/'+uid)
                    .then(response => {
                        this.currentUser = response.data;
                        this.isUserLoading=false;
                        });
            },
            onUserSaved: function(user){
                console.log('saving user: '+user.id);
                this.uFormMessage='SavingUser';
                this.isUserLoading=true;
                this.currentUser=null;
                axios
                    .patch(this.apiURL+'/users/'+user.id, user)
                    .then(response => {this.uFormMessage="User Saved";
                                       this.reloadTable();
                                       this.isUserLoading=false;});
            },
            reloadTable: function(){
                //this.userList = null;
                axios
                .get(this.apiURL+'/users')
                .then(response => (this.userList = response.data));
            }
        },
        mounted: function(){
            axios
                .get(this.apiURL+'/users')
                .then(response => (this.userList = response.data));
        },
    });
    
</script>
</html>